<% provide(:title, "About") %>
<h1>About</h1>
<p>
  <h3>A DemoApp that implements following features</h3>
  <h4>
  <br>
  > User signup
  <br><br>
  > Sign-in/sign-out
  <br><br>
  > Microposts with comment
  <br><br>
  > User follow
  </h4>
</p>